doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(href='css/style.css' type='text/css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap' rel='stylesheet')
  body
  title How to Become a Plant Parent
.container
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='navbarSupportedContent')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='index.html') Home
        li.nav-item
          a.nav-link(href='form.html') Search
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Categories
          .dropdown-menu
            a.dropdown-item(href='#') Bright
            a.dropdown-item(href='#') Half shadow 
            a.dropdown-item(href='#') Shadow
            a.dropdown-item(href='#') Easy to grow
            a.dropdown-item(href='#') Medium 
            a.dropdown-item(href='#') Hard
            a.dropdown-item(href='#') Pet friendly
            a.dropdown-item(href='#') Sign up
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Login
          .dropdown-menu
            a.dropdown-item(href='login.html') Sign in
            a.dropdown-item(href='register.html') Sign up
.bg
.jumbotron.back-picture
  h1.display-4 How to Become a Plant Parent
  p.lead
    | The house plants we grow come from a huge range of habits and ecologies around the worls. They are at home on the rainforest floor or high on a mountaintop; they can survive in a bleakest desert and the wettest swamps, and it is these conditions we need to emulate at home if the plants are to thrive.
  .row
    .col-sm-12.col-md-6.mx-auto
      .card.mb-6
        .card-body.text-center.search-card
          h5.card-title Find a perfect baby-plant
          p.card-text
            | Confused what kind of plant is the best fit for your home? Make first step tp become a plant parent and click on search
          p.lead
            a.btn.btn-outline-success(href='plants' role='button') Search
.jumbotron.darker
  h2 Learn more
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui felis, gravida sit amet convallis et, cursus lacinia augue. Vivamus aliquet arcu nibh, quis vestibulum felis tristique sed. Fusce auctor eleifend facilisis. Donec eu pulvinar diam, quis faucibus nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras posuere lectus quis ultrices vehicula. Fusce elementum sodales massa, non aliquet dui venenatis eu.
.container
  .row
    .col-sm-12.col-md-8.mx-auto
      .card.mb-6
        .card-body.text-left
          h4.card-title Light
          p.card-text
            | This is a crucial source of energy for all plants. Although the amount of light an individual plant needs varies, all plants require some during the day. The majority of plants we grow in our homes need bright, indirect light rather than direct sunlight, but there are plenty than prefer a shadier spot.
            | The amount of light a room receives depends on the size of the windows, whether the light source is direct or indirect.
    .col-sm-12.col-md-4.mx-auto
      .card.mb-6.text-right
        .card(style='width: 12 rem;')
          img.card-img-top(src='assets/learning_1.svg' alt='Card image cap' height='60%' width='60')
.container
  .row
    .col-sm-12.col-md-4.mx-auto
      .card.mb-6.text-right
        .card(style='width: 20rem;')
          img.card-img-top(src='assets/plant_blue_pot.svg' alt='Card image cap' height='60%' width='60')
    .col-sm-12.col-md-8.mx-auto
      .card.mb-6.wateringContainer
        .card-body.text-left
          h4.card-title Watering
          p.card-text
            | Many plants, particulary those from the tropics, require a warm, moist atmosphere, with vapour levels in the air that are much higher than we can achieve normally in our centrally heated homes. Without the appropriate humidity level, plant leaves shrivel, turn brown and drop off, and growth can be stuned. Steamy bathrooms and kitchen are the obvious choice for plants such as these.
.container
  .row
    .col-sm-12.col-md-8.mx-auto
      .card.mb-6
        .card-body.text-left
          br
          h4.card-title Temperature
          p.card-text
            | Almost all house plants like temperatures that are warm during the day and cooler at night. Some such a tropical plants want a hotter spot, while others such as palms and carnivotous plnants prefer life a little cooler. However, none likes dramatic swing of hot or cold, so avoid any draughts near doors and windowsills and keep plants away from ovens, radiators, fires and heaters. Note that some plants may need a cooler winter temperature, to promote flowering.
    .col-sm-12.col-md-4.mx-auto
      .card.mb-6.text-right
        .card(style='width: 20rem;')
          img.card-img-top(src='assets/plant_yellow_pot.svg' alt='Card image cap' height='60%' width='60')
footer
  .container-fluid.bg-primary.py-3
    .container
      .row
        .col-md-7
          .row.py-0
            .col-sm-1.hidden-md-down
              a.bg-circle.bg-info(href='#')
                i.fa.fa-2x.fa-fw.fa-address-card(aria-hidden='true ')
            .col-sm-11.text-white
              div
                h4 &nbsp;How to Become a Plant Parent
                p hello@plantparent.com
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script.
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
  var scrolled = $(window).scrollTop();
  $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }
  $(window).scroll(function(e){
  parallax();
  });