doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  title How to Become a Plant Parent
  script(src='js/scripts.js')
  link(href='css/style.css' type='text/css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap' rel='stylesheet')
  link(rel='shortcut icon', href='assets/favicon.ico', type='image/x-icon')
body
.container
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/plants') Search
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Login
          .dropdown-menu
            a.dropdown-item(href='/login') Sign in
            a.dropdown-item(href='/register') Sign up
.jumbotron
  h1.display-4 Find the perfect plant-baby 
.row
  .col-sm-12.col-md-6.mx-auto
    .card.mb-6.text-left
      .card(style='width: 50rem;')
        .card-body
          p.card-text
            form#myForm.form-horizontal(action='/plants' method='POST' role='form')
              .form-group
                label.col-md-4.control-label(for='light') Light
                .col-md-8
                  select#light.form-control(name='light')
                    option(value='') Select a filter
                    option(value='low') Low
                    option(value='medium') Medium
                    option(value='bright') Bright
              .form-group
                label.col-md-4.control-label(for='window') Window
                .col-md-8
                  select#windows.form-control(name='window')
                    option(value='') Select a filter
                    option(value='north') North
                    option(value='east') East
                    option(value='south') South
                    option(value='west') West
              .form-group
                label.col-md-4.control-label(for='difficulty') Difficulty
                .col-md-8
                  select#experience.form-control(name='difficulty')
                    option(value='') Select a filter
                    option(value='easy') Easy
                    option(value='medium') Medium
                    option(value='advanced') Advanced
              .form-group
                label.col-md-4.control-label(for='pets') Pets
                .col-md-8
                  select#pets.form-control(name='pets')
                    option(value='') Select a filter
                    option(value='true') Yes
                    option(value='') No
              input#submit.submit.btn.btn-outline-success(type='submit' name='submit' value='Send')
  .col-sm-12.col-md-6.mx-auto
    .card.mb-6.text-right
      .card(style='width: 40rem;')
        .card-body
          img.card-img-top.kitty(src='assets/shelf.png' alt='cat with plants')
footer
  .container-fluid.bg-primary.py-3
    .container
      .row
        .col-sm-11.text-white
          div
            h4  How to Become a Plant Parent
            p Made with 💚 by Bea
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
