doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  title How to Become a Plant Parent
  link(href='css/style.css' type='text/css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap' rel='stylesheet')
body
.container
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='index.html') Home
        li.nav-item
          a.nav-link(href='form.html') Search
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Categories
          .dropdown-menu
            a.dropdown-item(href='#') Bright
            a.dropdown-item(href='#') Half shadow 
            a.dropdown-item(href='#') Shadow
            a.dropdown-item(href='#') Easy to grow
            a.dropdown-item(href='#') Medium 
            a.dropdown-item(href='#') Hard
            a.dropdown-item(href='#') Pet friendly
            a.dropdown-item(href='#') Sign up
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Login
          .dropdown-menu
            a.dropdown-item(href='/plants') Sign in
            a.dropdown-item(href='register.html') Sign up
.jumbotron
  h1.display-4
  p.lead  
.jumbotron
  .row
   each plant in plants
      .col-md-4
        .card-content
          .card(style='width: 14rem;')
            img.card-img-top(style='background-image: url("' + plant.image + '");')
            .card-body
              h5.card-title=plant.name
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
              a.btn.btn-outline-success(href='#') Learn more
footer
  .container-fluid.bg-primary.py-3
    .container
      .row
        .col-sm-11.text-white
          div
            h4 &nbsp;How to Become a Plant Parent
            p hello@plantparent.com
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
