doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    title Plant Parent Registration
    link(href='css/style.css', type='text/css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap', rel='stylesheet')
    link(rel='shortcut icon', href='assets/favicon.ico', type='image/x-icon')
  body
    .container
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href='#') Logo
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='navbarSupportedContent')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/plants') Search
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='/login', data-toggle='dropdown') Login
              .dropdown-menu
                a.dropdown-item(href='/login') Sign in
                a.dropdown-item(href='/register') Sign up
    form(action='save_user.html', method='get', enctype='application/x-www-form-urlencoded', name='login')
      .container.registration
        .row
          .col-sm-12.col-md-6.mx-auto
            .card.mb-6
              .card-body.text-left
                .form-login
                  h4 Register
                  input#userName.form-control.input-sm.chat-input(type='text', placeholder='username')
                  br
                  input#userPassword.form-control.input-sm.chat-input(type='text', placeholder='password')
                  br
                  input#email.form-control.input-sm.chat-input(type='text', placeholder='email')
                  br
                  .wrapper
                    span.group-btn
                      input.submit.btn.btn-outline-success(type='submit', name='submit', value='Send')
    footer
      .container-fluid.bg-primary.py-3
        .container
          .row
            .col-sm-11.text-white
              div
                h4  How to Become a Plant Parent
                p hello@plantparent.com
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script.

